/*BANNER*/
.navbar{
	margin-bottom: 0;
	background: #4B8A08;
}
/*MENUS*/
.navbar .navbar-header .navbar-brand{
	color: #FFFFFF;
}
.nav .dropdown .dropdown-toogle{
	color: #FFFFFF;
}
/*Tabla*/
/*estilo tabla*/
	table {
	  border-collapse: collapse;
	  width: 100%;
	}
	th, td {
	  padding: 0.5rem;
	  border: 1px solid #ccc;

	}

	.encabezado{
	  padding: 0.5rem;
	  background: green;
	  color: white;
	  text-align: center;
	}

	.divInformacion{
	width: 100%;
	height: auto;
	background: transparent;
	padding: 15px;
	margin: 5px auto;
	border: 3px;
	}

	.divInformacion h1,h2,h3,h4,h5{
	color:black;
	}



	#busqueda{
		width: 90%;
		height: auto;
		background-color: transparent;
		padding-top: 5%;
		padding-bottom: 3%;
	}

/*PIE PAGINA*/
.pie {
	margin-bottom: 0;
	background: #4B8A08;
	color: #FFFFFF;
}

.pie a{
	color: #FFFFFF;
}