/*-- HEADER --*/
.navbar{
	margin-bottom: 0;
	background: #4B8A08;
}

.navbar .container .navbar-header a{
	color: #FFFFFF;
}

.navbar .container .collapse a{
	color: #FFFFFF;
}

.navbar .container .dropdown-menu a{
	color: #000000;
}

.jumbotron{
	background: #FFFFFF;
	margin-bottom: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}
