.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.767578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.056000px;}
._0{width:1.064000px;}
._2{width:2.080000px;}
._3{width:42.598080px;}
.fc1{color:rgb(61,70,77);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:39.840000px;}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.y19{bottom:76.464000px;}
.y1a{bottom:89.000000px;}
.y30{bottom:98.424000px;}
.y0{bottom:104.500000px;}
.y18{bottom:107.180000px;}
.y2f{bottom:119.180000px;}
.y17{bottom:127.940000px;}
.y2e{bottom:139.820000px;}
.y16{bottom:151.580000px;}
.y2d{bottom:167.780000px;}
.y15{bottom:182.300000px;}
.y14{bottom:203.060000px;}
.y2c{bottom:207.740000px;}
.y13{bottom:223.730000px;}
.y2b{bottom:228.530000px;}
.y12{bottom:244.490000px;}
.y2a{bottom:249.290000px;}
.y11{bottom:265.130000px;}
.y29{bottom:283.850000px;}
.y10{bottom:285.770000px;}
.y28{bottom:304.610000px;}
.yf{bottom:306.530000px;}
.y27{bottom:325.250000px;}
.ye{bottom:337.610000px;}
.y26{bottom:355.970000px;}
.yd{bottom:369.650000px;}
.y25{bottom:386.710000px;}
.yc{bottom:401.710000px;}
.y24{bottom:417.430000px;}
.yb{bottom:433.750000px;}
.y23{bottom:448.150000px;}
.y38{bottom:449.470000px;}
.ya{bottom:465.790000px;}
.y31{bottom:474.500000px;}
.y22{bottom:478.750000px;}
.y37{bottom:484.150000px;}
.y9{bottom:490.510000px;}
.y21{bottom:499.510000px;}
.y8{bottom:511.150000px;}
.y36{bottom:518.950000px;}
.y20{bottom:530.230000px;}
.y7{bottom:534.910000px;}
.y35{bottom:539.590000px;}
.y1f{bottom:550.900000px;}
.y6{bottom:565.660000px;}
.y1e{bottom:571.660000px;}
.y34{bottom:574.300000px;}
.y5{bottom:586.300000px;}
.y1d{bottom:592.300000px;}
.y33{bottom:608.980000px;}
.y1c{bottom:613.060000px;}
.y4{bottom:617.020000px;}
.y32{bottom:629.740000px;}
.y1b{bottom:633.700000px;}
.y3{bottom:640.780000px;}
.y2{bottom:664.420000px;}
.y1{bottom:675.580000px;}
.h2{height:33.486562px;}
.h4{height:49.898438px;}
.h3{height:50.671875px;}
.h6{height:282.500000px;}
.h1{height:652.500000px;}
.h5{height:668.000000px;}
.h0{height:792.000000px;}
.w1{width:445.000000px;}
.w0{width:612.000000px;}
.x0{left:83.500000px;}
.x2{left:85.104000px;}
.x3{left:103.100000px;}
.x1{left:399.070000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.408000pt;}
._0{width:1.418667pt;}
._2{width:2.773333pt;}
._3{width:56.797440pt;}
.fs2{font-size:53.120000pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.y19{bottom:101.952000pt;}
.y1a{bottom:118.666667pt;}
.y30{bottom:131.232000pt;}
.y0{bottom:139.333333pt;}
.y18{bottom:142.906667pt;}
.y2f{bottom:158.906667pt;}
.y17{bottom:170.586667pt;}
.y2e{bottom:186.426667pt;}
.y16{bottom:202.106667pt;}
.y2d{bottom:223.706667pt;}
.y15{bottom:243.066667pt;}
.y14{bottom:270.746667pt;}
.y2c{bottom:276.986667pt;}
.y13{bottom:298.306667pt;}
.y2b{bottom:304.706667pt;}
.y12{bottom:325.986667pt;}
.y2a{bottom:332.386667pt;}
.y11{bottom:353.506667pt;}
.y29{bottom:378.466667pt;}
.y10{bottom:381.026667pt;}
.y28{bottom:406.146667pt;}
.yf{bottom:408.706667pt;}
.y27{bottom:433.666667pt;}
.ye{bottom:450.146667pt;}
.y26{bottom:474.626667pt;}
.yd{bottom:492.866667pt;}
.y25{bottom:515.613333pt;}
.yc{bottom:535.613333pt;}
.y24{bottom:556.573333pt;}
.yb{bottom:578.333333pt;}
.y23{bottom:597.533333pt;}
.y38{bottom:599.293333pt;}
.ya{bottom:621.053333pt;}
.y31{bottom:632.666667pt;}
.y22{bottom:638.333333pt;}
.y37{bottom:645.533333pt;}
.y9{bottom:654.013333pt;}
.y21{bottom:666.013333pt;}
.y8{bottom:681.533333pt;}
.y36{bottom:691.933333pt;}
.y20{bottom:706.973333pt;}
.y7{bottom:713.213333pt;}
.y35{bottom:719.453333pt;}
.y1f{bottom:734.533333pt;}
.y6{bottom:754.213333pt;}
.y1e{bottom:762.213333pt;}
.y34{bottom:765.733333pt;}
.y5{bottom:781.733333pt;}
.y1d{bottom:789.733333pt;}
.y33{bottom:811.973333pt;}
.y1c{bottom:817.413333pt;}
.y4{bottom:822.693333pt;}
.y32{bottom:839.653333pt;}
.y1b{bottom:844.933333pt;}
.y3{bottom:854.373333pt;}
.y2{bottom:885.893333pt;}
.y1{bottom:900.773333pt;}
.h2{height:44.648750pt;}
.h4{height:66.531250pt;}
.h3{height:67.562500pt;}
.h6{height:376.666667pt;}
.h1{height:870.000000pt;}
.h5{height:890.666667pt;}
.h0{height:1056.000000pt;}
.w1{width:593.333333pt;}
.w0{width:816.000000pt;}
.x0{left:111.333333pt;}
.x2{left:113.472000pt;}
.x3{left:137.466667pt;}
.x1{left:532.093333pt;}
}
